{% extends "simplecontent/base.html" %}
{% load i18n %}
{% block subTitle %}{% blocktrans %}Edit template: {{ name }}{% endblocktrans %}{% endblock subTitle %}
{% block extra_head %}
{% if saved %}
<script>
jQuery(document).ready(function(){
	$("#saved").delay(5000).fadeOut('fast', function(){
		$(this).show().html("&nbsp;");
	});
});
</script>
{% endif %}
{% endblock %}
{% block simplecontent %}
<form action="{% url django_simplecontent.views.template_edit path name %}" method="post">
	{% if saved %}
	<div id="saved" style="color: #008800">{% trans 'Save sucessful!' %}</div>
	{% endif %}

	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="{% trans 'Save template' %}" />
</form>
{% endblock %}
